@import url(http://db.onlinewebfonts.com/c/527ea5851ca62a9a758a44dc39437eae?family=Old+English+Text+MT);

body {
    font-family: 'Old English Text MT', Arial, Helvetica, sans-serif;
    background-color: rgb(22, 23, 25);
    color: white;
    text-transform: uppercase;
    text-align: left;
}

h1 {
    margin-bottom: 0em;
}

#num {
    margin: 0em;
    font-size: 6rem;
    font-weight: bold;
}